[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/bundle/onedark.vim"]
	path = .vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/markdown-preview.nvim"]
	path = .vim/bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/Users/johan/.tmux/plugins/tpm"]
	path = /Users/johan/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/Users/johan/.tmux/plugins/vim-tmux-navigator"]
	path = /Users/johan/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "/Users/johan/.tmux/plugins/tmux-themepack"]
	path = /Users/johan/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "/Users/johan/.tmux/plugins/tmux-resurrect"]
	path = /Users/johan/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "/Users/johan/.tmux/plugins/tmux-continuum"]
	path = /Users/johan/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".vim/bundle/.vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
